<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848594903259-l8but350vmvqin8ip7c75s3nftbvhhtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848594903259-l8but350vmvqin8ip7c75s3nftbvhhtt</string>
	<key>API_KEY</key>
	<string>AIzaSyCDgJKfXUEGgZR6lZsrNC3f0h24AmddcH0</string>
	<key>GCM_SENDER_ID</key>
	<string>848594903259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftant.goodhealth</string>
	<key>PROJECT_ID</key>
	<string>goodhealth-92b1b</string>
	<key>STORAGE_BUCKET</key>
	<string>goodhealth-92b1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848594903259:ios:8707ed056556808d9d2cfe</string>
</dict>
</plist>